p {
  font-family: 'Open Sans', serif;
}
td {
  font-family: 'Open Sans', sans-serif;
  color: #0D1117;
}
a {
  color:#58A6FF;
  text-decoration: none;
}

body {
  background-color: White;
  color: #0D1117;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
    td {
      font-family: 'Open Sans', sans-serif;
      color: #0020bf;
      
  }
}
html {
  scroll-behavior: smooth;
}
a {
  font-family: 'Open Sans', serif;
}
