p {
  font-family: 'Open Sans', serif;
}
td {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body {
  background-color: #0d1c44;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
    td {
      font-family: 'Open Sans', sans-serif;
      color: #0020bf;
      
  }
}
html {
  scroll-behavior: smooth;
}
